{% extends 'layout/layout.html.twig' %}
{% block body %}
<h1>Gestion des plats</h1>
<h2>Liste des plats</h2>
<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr><th>Titre</th><th>Description</th><th>Prix</th><th>Ajouter au panier</th></tr>
        </thead>
        <tbody>
            {% for item in list %}
            <tr>
                <td class="col-xs-3">{{ item.title }}</td>
                <td class="col-xs-4">{{ item.description }}</td>
                <td class="col-xs-2">{{ item.price }}</td>
                <td class="text-center col-xs-2"><a href="/cart/add/{{ item.id }}">Panier</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}